﻿@{
    ViewBag.Title = "Schedule";
    var games = (List<DHC.Models.Game>)ViewBag.Games;
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tbody>
        @foreach( var game in games )
        {
            <tr>
                <td class="hidden-xs">@game.gamenumber</td>
                <td>@game.arena</td>
                <td class="visible-xs">@game.ShortDateTimeDisplay</td>
                <td class="hidden-xs">@game.WeekDayDisplay</td>
                <td class="hidden-xs">@(game.MonthShortDisplay + "-" + game.DateDisplay)</td>
                <td class="hidden-xs">@game.TimeDisplay</td>
                <td>@game.hometeam</td>
                <td>@game.homescore</td>
                <td>@game.visitteam</td>
                <td>@game.visitscore</td>
            </tr>
        }
    </tbody>
</table>

