﻿@{
    ViewBag.Title = "Standings";
    var standings = (List<DHC.Models.Standing>)ViewBag.Standings;
}

<h2>@ViewBag.Title</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>GP</th>
                <th>Wins</th>
                <th>Loses</th>
                <th>Ties</th>
                <th>Points</th>
                <th>GF</th>
                <th>GA</th>
                <th>Diff</th>
                <th>GF/GP</th>
                <th>GA/GP</th>
                <th>SF</th>
                <th>SA</th>
                <th>SF/GP</th>
                <th>SA/GP</th>
                <th>Last&nbsp;5</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var standing in standings )
            {
                string className = standing.Team.ToLower().Contains( "diehard" ) ? "active" : null;

                <tr class="@className">
                    <td>@standing.Position</td>
                    <td>@standing.Team</td>
                    <td>@standing.GP</td>
                    <td>@standing.Wins</td>
                    <td>@standing.Loses</td>
                    <td>@standing.Ties</td>
                    <td>@standing.Points</td>
                    <td>@standing.GF</td>
                    <td>@standing.GA</td>
                    <td>@standing.Diff</td>
                    <td>@standing.GFGP</td>
                    <td>@standing.GAGP</td>
                    <td>@standing.SF</td>
                    <td>@standing.SA</td>
                    <td>@standing.SFGP</td>
                    <td>@standing.SAGP</td>
                    <td>@standing.Last5</td>
                </tr>
            }
        </tbody>
    </table>