﻿@{
    ViewBag.Title = "Stats";
    var players = (List<DHC.Models.Player>)ViewBag.Players;
    var goalies = (List<DHC.Models.Goalie>)ViewBag.Goalies;
}

<h2>@ViewBag.Title</h2>

<table id="player-stats" class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>No.</th>
            <th>Name</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>P</th>
            <th>PIM</th>
            <th>PPG</th>
            <th>SHG</th>
            <th>GW</th>
            <th>Pts/G</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var player in players )
        {
            <tr>
                <td>@player.Rank</td>
                <td>@Html.Raw(player.Number)</td>
                <td>@player.Name</td>
                <td>@player.GP</td>
                <td>@player.Goals</td>
                <td>@player.Assits</td>
                <td>@player.Points</td>
                <td>@player.PIM</td>
                <td>@player.PPG</td>
                <td>@player.SHG</td>
                <td>@player.GWG</td>
                <td>@player.PointsPerGame</td>
            </tr>
        }
    </tbody>
</table>

<table id="goalie-stats" class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>GP</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>GA</th>
            <th>SO</th>
            <th>SA</th>
            <th>AVG</th>
            <th>Sv%</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var goalie in goalies )
        {
            <tr>
                <td>@goalie.Rank</td>
                <td>@goalie.Name</td>
                <td>@goalie.GP</td>
                <td>@goalie.Wins</td>
                <td>@goalie.Loses</td>
                <td>@goalie.Ties</td>
                <td>@goalie.GA</td>
                <td>@goalie.SO</td>
                <td>@goalie.SA</td>
                <td>@goalie.AVG</td>
                <td>@goalie.SavePourcentage</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#player-stats").tablesorter();

            $("#player-stats").bind("sortStart", function () {
                var table = $("#player-stats tbody");

                table.find('tr').each(function (i, el) {
                    var $tds = $(this).find('td');
                    $tds.eq(0).text('');
                });
            });

            $("#player-stats").bind("sortEnd", function () {
                var table = $("#player-stats tbody");

                table.find('tr').each(function (i, el) {
                    var $tds = $(this).find('td');
                    $tds.eq(0).text(i + 1);
                });
            });
        });
    </script>
}